.tab-menu {
    border-bottom: 1px solid grey;
}
.tab-menu > li {
    display: inline-block;
    padding: 10px 25px;
    margin-right: 30px;
    
}

.tab-menu > li > a {
    color: grey;
}

.tab.active {
    color: black;
    font-weight: bold;
    border-bottom: 1px solid;
    border-bottom-color: orange;
}


